*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo h2{
        font-size: 45px;
        font-weight: 900;
        
}
.color-orange{
    color: #FD6E0A;
}
.menu{
    display:flex;
    gap: 51px;
    list-style-type: none;
    align-items:center;

}
header{
    background-color:antiquewhite;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;

    margin: 0% auto;
    display: flex;
    justify-content: space-between;

}
nav.menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    align-items: center;
    
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 20px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
a{
    text-decoration: none;
}
